 <!-- Begin Footer -->
 <footer>

    <div class="copyrights">
        <p>© {{ now.Format "2006" }} Bertrand Kirouac | Fait avec ❤️</p>
    </div>

    <div class="social-links icons">
        <ul>
            <li><a target="_blank" href="https://www.instagram.com/bertrandk.photo/" class="icons-instagram"></a></li>
            <li><a target="_blank" href="https://www.facebook.com/kirouacphoto" class="icons-facebook"></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/bertrand-kirouac-229731b9" class="icons-linkedin"></a></li>
        </ul>
    </div>
    
</footer>
