{{- define "main" -}}
<!-- Begin Main -->
<main>

    <div class="gallery horizontal-slider scroll">
        <div class="articles-wrapper">
            {{- range $i, $e := .Params.images -}}
            <figure class="swiper-slide{{ if eq $i 2 }} active{{ end }}">
                <a href="{{- $e.link -}}">
                    <img src="{{- $e.link -}}" alt="">
                </a>
                <figcaption>Agrandir</figcaption>
            </figure>
            {{- end -}}
        </div>
    </div>

</main>
<!-- End Main -->
{{- end -}}