{{- define "main" -}}
<!-- Begin Main -->
<main>
    <div class="portfolio horizontal-slider centered">
        <div class="swiper-container" id="swiper-centered-1">
            <div class="swiper-wrapper">

                {{ range $i, $e := where $.Site.RegularPages "Type" "portfolio" }}

                <article class="swiper-slide{{ if eq $i 1 }} active{{ end }}">
                    {{- $image := index $e.Params.images 0 -}}
                    <figure>
                        <img src="{{- $image.link -}}" alt="">
                    </figure>

                    <a href="{{- $e.Permalink -}}" class="overlay">
                        <h2 class="title">{{ $e.Title }}</h2>

                        <span class="categories">
                            <span>{{ $e.Title }}</span>
                        </span>
                    </a>

                </article>
                {{- end -}}
            </div>
        </div>
    </div>
</main>
{{- end -}}