{{- define "main" -}}
<!-- Begin Main -->
<main class="page page-about-me has-background" style="background-image:url('{{ .Params.profile_bg }}');">
    <div class="wrapper">

        <div class="tablet-mobile-image-container">
            <img class="tablet-mobile-image" src="{{ .Params.profile_img }}" alt="">
        </div>

        <div class="content">

            <div class="row space full">

                <div class="column one-fourth">
                    <div class="info-label">
                        <p class="label">Nom</p>
                        <p class="text">Bertrand Kirouac</p>
                    </div>
                </div>
                <div class="column one-fourth">
                    <div class="info-label">
                        <p class="label">Titre</p>
                        <p class="text">Photographe</p>
                    </div>
                </div>
                <div class="column one-fourth">
                    <div class="info-label">
                        <p class="label">Type</p>
                        <p class="text">Freelancer</p>
                    </div>
                </div>
                <div class="column one-fourth last">
                    <div class="info-label">
                        <p class="label">Location</p>
                        <p class="text">Montréal, QC, CA</p>
                    </div>
                </div>

                <span class="divider40"></span>

                {{ .Content }}

                <div class="column one-half phone-number">
                    <address>
                        +15145031993
                    </address>
                </div>
                <div class="column one-half last social-profiles">
                    <ul>
                        <li><a target="_blank" href="https://www.instagram.com/bertrandk.photo/" class="icons-instagram"></a></li>
                        <li><a target="_blank" href="https://www.facebook.com/kirouacphoto" class="icons-facebook"></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/in/bertrand-kirouac-229731b9" class="icons-linkedin"></a></li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="desktop-image-container">
            <img class="desktop-image" src="{{ .Params.profile_img }}" alt="">
        </div>

    </div>
</main>
<!-- End Main -->
{{- end -}}