{{- define "main" -}}
<!-- Begin Main -->
<main class="page page-about-me has-background" style="background-image:url('/images/about1.jpg');">
    <div class="wrapper">

        <div class="tablet-mobile-image-container">
            <img class="tablet-mobile-image" src="/images/about3.jpg" alt="">
        </div>

        <div class="content">

            <div class="row space full">

                <div class="column one-fourth">
                    <div class="info-label">
                        <p class="label">Name</p>
                        <p class="text">Frank Williams</p>
                    </div>
                </div>
                <div class="column one-fourth">
                    <div class="info-label">
                        <p class="label">Title</p>
                        <p class="text">Photographer</p>
                    </div>
                </div>
                <div class="column one-fourth">
                    <div class="info-label">
                        <p class="label">Type</p>
                        <p class="text">Freelancer</p>
                    </div>
                </div>
                <div class="column one-fourth last">
                    <div class="info-label">
                        <p class="label">Place</p>
                        <p class="text">London, UK</p>
                    </div>
                </div>

                <span class="divider40"></span>

                <p>Vestibulum tellus risus, pretium et facilisis nec, porta in felis. Nullam fermentum, lorem nec tincidunt tempus, lectus venenatis nisi, quis ultrices tortor arcu id diam. Nunc eros est.</p>
                <p>Vestibulum tellus risus, pretium et facilisis nec, porta in felis. Nullam fermentum, lorem nec tincidunt tempus.</p>

                <div class="column one-half phone-number">
                    <address>
                        +51 (0)6 21 51 43 88
                    </address>
                </div>
                <div class="column one-half last social-profiles">
                    <ul>
                        <li><a href="#" class="icons-facebook"></a></li>
                        <li><a href="#" class="icons-twitter"></a></li>
                        <li><a href="#" class="icons-instagram"></a></li>
                        <li><a href="#" class="icons-behance"></a></li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="desktop-image-container">
            <img class="desktop-image" src="/images/about2.jpg" alt="">
        </div>

    </div>
</main>
<!-- End Main -->
{{- end -}}