{{- define "main" -}}
<main class="page extra-padding">
    <div class="inner-container">

        <h1 class="page-header">Contact</h1>

        {{ .Content }}

        <span class="divider20"></span>

        <div class="row space full">

            <div class="column two-third">

                <form class="contact-form" method="post" action="/merci" data-netlify="true">
                    <input type="text" name="user_name" placeholder="NOM">
                    <input type="email" name="user_email" placeholder="COURRIEL" required>
                    <input type="text" name="message_subject" placeholder="SUJET">
                    <textarea name="message_content" placeholder="MESSAGE" required></textarea>
                    <input type="submit" name="submit" value="ENVOYER">
                </form>

            </div>

            <div class="column one-third last">

                <div class="info-label">
                    <p class="label">Location</p>
                    <p class="text">Montréal, QC, CA</p>
                </div>

                <span class="divider20"></span>

                <p>
                    Plus j'ai d'informations, plus je peux vous donner une idée précise du budget de votre
                    séance photo. N'hésitez pas à m'écrire, c'est toujours un plaisir de vous lire!
                </p>

            </div>
            
        </div>

    </div>
</main>
{{- end -}}